html,body{
	background: #eeeeee;
	overflow-x: hidden;
}

.margin{
	margin-right: -15px !important;
	margin-left: -15px !important;
	overflow-x: hidden;
}

.margen{
	//margin-right: -15px !important;
	margin-left: -15px !important;
}

.fondo{
	background: #ffffff;
	margin-right: -20px !important;
	margin-left: -15px !important;
	height: 100%;
}

.fondo2{
	background: #222;
	height: 100%;
}

.borde{
	border-radius: 0px !important;
}

.linea{
	border-bottom: 2px #BCBCBC solid;
}
